{
   "semi": false,
   "singleQuote": true,
   "tabWidth": 3,
   "printWidth": 90,
   "trailingComma": "es5",
   "bracketSpacing": true,
   "svelteSortOrder": "options-scripts-markup-styles",
   "svelteStrictMode": false,
   "svelteAllowShorthand": true,
   "svelteBracketNewLine": true,
   "plugins": ["prettier-plugin-svelte"],
   "overrides": [
      {
         "files": "*.svelte",
         "options": {
            "parser": "svelte"
         }
      }
   ]
}
